### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/sonarlint/issuestore/index.pb
.idea/vcs.xml
.idea/**
.idea/**/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store